.login-container.valign-wrapper
    .wrapper.valign.staged(stage='1')
        .head
          h4 Login
        .body.z-depth-1.white
          .input-field
            input#username(type='text')
            label(for='username') Benutzername:
          .input-field
            input#password(type='password')
            label(for='password') Passwort:
          a.btn-flat.waves-effect.waves-blue.js-login Login
        .footer
          a.btn-flat.waves-effect.waves-blue.js-register Registrieren
