.lobby.row
  .col.s12
    if winner
      h2 Gewonnen hat: #{winner}!!!
    .section
      h4 Mitspieler
      .list
        each user
          div(class="").list-item #{username}
            if admin
              span.pink.right.dis Admin
            if you
              span.indigo.right.dis Du
              
    .divider
    .section 
      if isAdmin
          div(class="{{#if startable}}waves-effect{{else}}disabled{{/if}}").btn.pink.waves-light.start Start
          unless startable 
            .grey-text Es werden mindestens 3 Spieler benötigt!
      else
        .grey-text Du kanst nur Räume starten, die du erstellt hast!
