.lobby.row
  .col.s12
    if winner
      h2 Gewonnen hat: #{winner}!!!
    .section
      h4 Mitspieler
      .list
        each user
          div(class="{{#if you}}indigo-text{{/if}} {{#if admin}}pink-text{{/if}}").list-item #{username}
            if admin
              span.grey-text (Admin)
            if you
              span.grey-text (Du)
              
    .divider
    .section 
      if isAdmin
          div(class="{{#if startable}}waves-effect{{else}}disabled{{/if}}").btn.pink.waves-light.start Start
          unless startable 
            .grey-text Es werden mindestens 3 Spieler benötigt!
      else
        .grey-text Du kanst nur Räume starten, die du erstellt hast!
